@page
@model IndexModel
@{

IOrderedEnumerable<Affluence> affluences = (IOrderedEnumerable<Affluence>)ViewData["affluence"];



}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <tr>
            <th>Rank</th>
            <th>Zip Code</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Points</th>
            <th>Power Usage</th>
            <th>Vehicle Count</th>
        </tr>

        @foreach (NeighbourhoodRank.Affluence affluence in affluences)
        {
            <tr>
                <td>@affluence.Rank</td>
                <td>@affluence.Zip</td>
                <td>@affluence.Latitude</td>
                <td>@affluence.Longitude</td>
                <td>@affluence.ACount</td>
                <td>@affluence.PowerUsage</td>
                <td>@affluence.VehicleCount</td>
            </tr>
        }
    </table>
</div>