@page
@model IndexModel
@{

    List<NeighbourhoodRank.Affluence> affluences = (List<NeighbourhoodRank.Affluence>)ViewData["affluence"];
}
<!DOCTYPE html>
<html lang="en">


<body>
    <img src="https://images5.alphacoders.com/412/412030.jpg" alt="Chicago" height="580" width="1099">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Zip Code</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Power Usage</th>
                <th>Vehicle Count</th>
            </tr>

            @foreach (NeighbourhoodRank.Affluence affluence in affluences)
            {
                <tr>
                    <td>@affluence.Zip</td>
                    <td>@affluence.Latitude</td>
                    <td>@affluence.Longitude</td>
                    <td>@affluence.PowerUsage</td>
                    <td>@affluence.VehicleCount</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>